<%- include("templates/header") %>

    <br> <br>
    <!-- <h1>
        <%= pageTitle %>
    </h1> -->
    <% if (pageTitle === 'Login') { %>
        <%- include('templates/form', { action: '/submitLogin' , showNameField: false }) %>
        <% } %>

        <% if (pageTitle === 'Sign Up') { %>
            <%- include('templates/form', { action: '/submitSignup' , showNameField: true }) %>
            <% } %>

            <br> <br>

            <%- include("templates/footer") %>